<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Library - {% block title %}Base page{% endblock %}</title>
</head>
<body>
    <div>
        <strong>Flask Library |</strong>
        <!-- CRUD create read update delete -->
        <a href="/">Home</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/books/list">Book's list</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="#">Add book</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    </div>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>